<h1>Files and folders</h1>

<% if (folders) { %> <% if (folders.length <= 0) { %>
<p>Looks like you havent created or uploaded any files yet</p>
<% } %>
<ul class="folders-wrapper">
  <% folders.forEach(folder => { %>
  <li class="single-folder-item" id="folder-<%= folder.id %>">
    <h2><%= folder.name %></h2>
    <p>Number of files: 2</p>
    <button value="<%= folder.id %>" class="del-folder-btn">DELETE</button>
    <button value="<%= folder.id %>" class="edit-folder-btn">EDIT</button>
  </li>

  <% }) %>
</ul>
<%- include('partials/editFolderDialog'); -%> <% } else { %>
<p>Please login or create an account to publish folders and upload files.</p>
<% } %>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const deleteButtons = document.querySelectorAll(".del-folder-btn");

    deleteButtons.forEach((button) => {
      button.addEventListener("click", async (e) => {
        e.preventDefault();
        const folderId = button.value;

        const confirmation = confirm(
          "Are you sure you want to delete this folder?"
        );
        if (confirmation) {
          try {
            const response = await fetch(`/folders/${folderId}`, {
              method: "DELETE",
            });
            if (response.ok) {
              // Remove the message from the DOM
              const currentItem = document.querySelector(`#folder-${folderId}`);
              currentItem.remove();
            } else {
              alert("Failed to delete folder");
            }
          } catch (error) {
            console.error("Error", error);
            alert("Something went wrong");
          }
        }
      });
    });

    const editFolderDialog = document.querySelector("#editFolderDialog");
    const editButtons = document.querySelectorAll(".edit-folder-btn");
    const folderNameInput = document.querySelector("#foldername"); // Selector for input in dialog
    const folderIdInput = document.querySelector("#folderId"); // // Hidden input for folder ID

    const closeEditFolderDialogBtn = document.querySelector(
      "#closeEditFolderBtn"
    );

    closeEditFolderDialogBtn.addEventListener("click", () => {
      editFolderDialog.close();
    });

    editButtons.forEach((button) => {
      button.addEventListener("click", (e) => {
        e.preventDefault();
        const folderId = button.value;
        const folderElement = document.querySelector(`#folder-${folderId}`);
        const folderName = folderElement.querySelector("h2").textContent;

        // Set the folder name in the modal's input field
        folderNameInput.value = folderName;

        // Set the folder ID in the hidden input field
        folderIdInput.value = folderId;

        editFolderDialog.showModal();
      });
    });
  });
</script>
